<div class="jumbotron center">
    <h1>Welcome to Chef Recipes</h1>
    <h2>The best app to explore recipes</h2>
    <p> 
        <%= link_to "Sign up/Log in", "#", class: "btn btn-lg btn-xlarge" %> 
    </p>
</div>

<!-- Example row of columns from Bootstrap's Justified Nav Custom Component -->
<div class="row">
    <div class="col-lg-4">
    <h2>Safari bug warning!</h2>
    <p>Explore new recipes from chefs around the world. Filter based on ingredients you have around to create a quick meal.</p>
    <p><a class="btn btn-primary btn-xlarge" href="#" role="button">Take a filters tour &raquo;</a></p>
    </div>
    <div class="col-lg-4">
    <h2>Heading</h2>
    <p>Upload your favorite recipes with photos and create your unique chef's profile.</p>
    <p><a class="btn btn-primary btn-xlarge" href="#" role="button">Take a profile tour &raquo;</a></p>
    </div>
    <div class="col-lg-4">
    <h2>Heading</h2>
    <p class="text-danger">Sample content</p>
    <p>Check out other awesome chefs on the network. Chat with them and learn their superpowers.</p>
    <p><a class="btn btn-primary btn-xlarge" href="#" role="button">Take a chat tour &raquo;</a></p>
    </div>
</div>
