<div class="jumbotron center">
    <h1>Welcome to Chef Recipes</h1>
    <h2>The best app to explore recipes</h2>
    <p> 
        <%= link_to "Sign up/Log in", "#", class: "btn btn-lg btn-primary btn-xlarge" %> 
    </p>
</div>

<!-- Example row of columns from Bootstrap's Justified Nav Custom Component -->
<div class="row">
    <div class="col-lg-4">
        <h2>Recipes</h2>
        <p>Explore new recipes from chefs around the world. Search recipes, filter results based on chefs and ingredients you have around to create a quick meal.</p>
        <p><a class="btn btn-primary btn-xlarge" href="#" role="button">Take a filters tour &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Chefs</h2>
        <p>Upload your favorite recipes and create your unique chef's profile. Get reviews and find out which dishes are popular. </p>
        <p><a class="btn btn-primary btn-xlarge" href="#" role="button">Take a profile tour &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Network</h2>
        <p>Check out other awesome chefs on the network. Chat with them, share your ninja skills and learn their superpowers.</p>
        <p><a class="btn btn-primary btn-xlarge" href="#" role="button">Take a chat tour &raquo;</a></p>
    </div>
</div>
