$navbar-default-bg: #091326;

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
    text-align: center;
}

.jumbotron {
    background-image: asset-url('cover_image_2.jpg');
    background-size: cover;
    height: 350px;
}

#logo {
    font-size: 1.7em;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: -1px;
    font-weight: bold;
    list-style-image: asset-url('logo_image.png');
}

#logo:hover {
    color: #ff8c00;
    text-decoration: none;
}

.jumbotron h1 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: lighter;
}

.jumbotron h2 {
    font-weight: normal;
}

.btn-xlarge {
    background-color: #004183;
}

.btn-xlarge:hover {
    color: #fff;
    text-decoration: none;
}

footer { 
    height: 100px;
    margin-top: 60px;
    padding-top: 5px;
    border-top: 1px solid #0275d8;
    color: #777;
    background-color: #091326;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #555;
}

footer a:hover {
    color: #ff8c00;
}

footer small {
    float: left;
    margin-left: 30px;
}

footer ul {
    margin-right: 30px;
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 25px;
}

footer p {
    margin-top: 50px;
}

.description {
    margin-top: 0;
}

.chef_info {
    margin-top: 10px;
}

.well a {
    color: #004183;
}

.colormatch a {
    color: #004183;
}

.recipe-actions {
    padding-top: 5px;
    a {
        color: #fff;
    }
}

.listing {
    list-style: none;
    padding-left: 0;
  }
  
.chef-title {
    color: #073B15;
    font-weight: bold;
    font-size: 1.25em;
  }