<!-- Site footer -->
<footer class="footer center">
  <small>
    <strong> 
      <a href="https://github.com/linjujose/chefrecipes"> Chef Recipes is an open source project </a>
    </strong>
    by <em> <a href="https://github.com/linjujose"> Linju Jose </a> </em>
  </small>

  <nav>
    <ul>
      <li> <%= link_to "About", '#' %></li>
    </ul>
  </nav>
  
  <p>&copy; 2020 Vekani Designs, Inc.</p>
    
</footer>
